<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div style="margin-left:10px; margin-top:10px;">
	<form class="ui form" method="POST">
	  <div class="field">
	    <label>Identifiant</label>
	    <input type="text" path="login" name="login" placeholder="Login">
	  </div>
	  <div class="field">
	    <label>Mot de passe</label>
	    <input type="text" path="password" name="password" placeholder="Password">
	  </div>
	  <div class="field">
	    <label>Adresse Mail</label>
	    <input type="text" path="email" name="email" placeholder="EMail">
	  </div>
	  <div class="field">
	    <label>Nom</label>
	    <input type="text" path="identity" name="identity" placeholder="Identity">
	  </div>
	  <button class="ui button" type="submit">Créer mon compte</button>
	</form>
</div>