<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div style="margin-top:2%;margin-left:2%;">
	<h1>Vous êtes connecté</h1>
	<div style="padding-left:50%;">
		<a class="ui negative basic button" href="logout">Se déconnecter</a>
	</div>
	
	<div class="ui cards">
	  <div class="card">
	    <div class="content">
	      <div class="header">{{user.identity}}</div>
	      <div class="description">{{user.email}}</div>
	    </div>
	    <div class="ui bottom attached button"><i class="eye icon"></i> Voir scripts </div>
	  </div>
	</div>
</div>